<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
    </ion-card-content>

    <!-- <ion-card-footer> -->
    <ion-button type="submit" (click)="login()" expand="block">Login</ion-button>
    <!-- </ion-card-footer> -->
    <ion-card-content>
      ¿Estás empezando? <a [routerLink]="['/register']">Unirse ahora</a>
    </ion-card-content>
  </ion-card>
</ion-content>
